main {
    display: flex;
    flex-wrap: nowrap;
}

.code-editor-container {
    right: 0;
    position: fixed;
    display: flex;
    flex-direction: column;
}

#code-editor {
    width: 30vw;
    height: 80vh;
    padding: 5vh 5vw;
    font-size: 20px;
    font-family: monospace;
    font-weight: 700;
}

.editor-top {
    width: 40vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

button {
    color: white;
    background: black;
    height: 50px;
    width: 100px;
    font-size: large;
}