body{
    overflow-x: hidden;
}
main {
    display: flex;
    flex-wrap: nowrap;
}
section{
    display: flex;
}
article {
    margin-bottom: 10px;
}
h3{
    margin: 18px 0 0 0;
}
.code-editor-container {
    right: 0;
    position: fixed;
    display: flex;
    flex-direction: column;
}

#code-editor {
    width: 30vw;
    height: 80vh;
    padding: 5vh 5vw;
    font-size: 20px;
    font-family: monospace;
    font-weight: 700;
}

.editor-top {
    width: 40vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

button {
    color: white;
    background: black;
    height: 50px;
    width: 100px;
    font-size: large;
}
#code-area{
    width: 40vw;
    height: 90vh;
    position: fixed;
    overflow-x: hidden;
    overflow-y: scroll;
    box-shadow: 10px 8px 31px #d8d8d8;
    padding-left: 30px;
    margin-left: -42px;
    padding-bottom: 100px;
}
fn, l ,v {
    font-weight: 700;
}
fn{
    color: #0069c3;
}
l {
    color: #e84646;
}
v{

}
c{
    background: #d9fffd;
    font-size: 13px;
}
d{
    white-space: pre-line;
    width: 30vw;
    display: block;
}
pm {
    color: #e8777c;
    font-weight: 600;
    letter-spacing: 2px;
}
code {
    font-family: -webkit-body;
    letter-spacing: 0.7px;
    background: whitesmoke;
    width: 30vw;
    display: block;
    padding: 15px;
    margin: 2px 0 10px 0;
}